.footer {
  background-color: black;
  color: white;
}

.footer-container {
  display: flex;
    
}

.footer-logo {
  width: 150px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-links a {
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  color: gray;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-media a {
  margin-right: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.footer-copyright {
  color: white;
}

.privacy-policy {
  color: red;
}
